.container {
  display: none;
  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 80px;

    background: var(--bg-nav-off-canvas);
    backdrop-filter: blur(3px);
    animation: showSidebar 0.1s;
    transition: all 0.3s ease 0s;
    padding: 22px;

    z-index: 11;

    a {
      width: 100%;
      padding: 20px 0;
      color: var(--text-color);
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      border-radius: 5px;
      border-bottom: 1px solid var(--line-nav-off-canvas);
    }

    @keyframes showSidebar {
      from {
        opacity: 0;
        width: 0;
      }
      to {
        opacity: 1;
        width: 300px;
      }
    }
  }
}
