// .projectCardContainer {
//   width: 348px;
//   height: 460px;
//   border-radius: 1rem;
//   position: relative;
//   overflow: hidden;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   transition: transform 0.3s ease;
//   background: linear-gradient(0deg, #47b2ff, #3aecbb57);

//   &:hover:before {
//     content: "";
//     position: absolute;
//     width: 600px;
//     height: 600px;
//     background-image: conic-gradient(#3aecba, 10deg, transparent 50deg);
//     animation: rotate 5s linear infinite;
//     box-sizing: border-box;
//     pointer-events: none;
//   }
// }

.projectCard {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: #0d1117a6;
  backdrop-filter: blur(3px);
  transition: transform 0.3s ease;
  border-image: linear-gradient(
      180deg,
      rgba(71, 178, 255, 0.31) 0%,
      rgba(58, 236, 186, 0.31) 100%
    )
    1;

  width: 346px;
  min-height: 482px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;


  
  &:hover {
    transform: translateY(-10px);
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}

[data-theme="light"] .projectCard {
  background-color: #ebebeb; 
}

.projectCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projectCard h2 {
  margin: 0;
  padding: 1rem;
  color: var(--text-color);
}

.projectCard p {
  padding: 1rem;
  margin: 0;
  color: var(--text-color);
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  padding: 1rem;

  button {
    padding: 0.5rem;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #47b2ff12;
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    transition: all 0.3s;

    &:hover {
      background-color: #47b2ff1f;
    }

    &:nth-child(2) {
      width: 30%;
    }
  }
}

[data-theme="light"] .buttonContainer {
  button {
    background-color: #00000017;
    color: var(--text-color);

    &:hover {
      background-color: #47b2ff1f;
    }
  }
}
